/* Header.css */

.header {
  background-color: #feed46;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-left: 15px;
}

.logo-caption {
  height: 35px;
  margin-left: 10px;
}

.logoText {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.header-text {
  font-size: 15px;
  color: black;
  margin-left: -8px;
  margin-right: 20px;
}

.nav {
  display: flex;
  gap: 20px;
}